


body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}
p {
  font-size: 14px;
}

.header {
  background-image: url('../images/slide3.png');
  background-position-y: -50px;
  background-repeat: no-repeat;
  background-size: inherit;
  color: white;
}

.header-text {
  padding-left: 103px;
}
.wrapper {
  width: 60%;
  margin: 0 auto;
}
.navbar {
  background-color: #1a5e74;

}
.navbar-brand {
  width: 23%;
  padding-left: 11%;
}
.form-inline {
  width: 44%;
}
.search {

  border: 1px solid #000;
  min-height: 20px;
}
input[type="search"] {
  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;
}
input[type="submit"] {
  width: 25px;
  border: none;
  background-image: url("../images/seach.png");
}

.navbar-search {
  width: 80%;
}
.seach-select {
  border: 0;
  height: 26px;
  width: 50px;
  border: none;
  outline: none;
}
select {
  background-image: url("../images/seach-place.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: 10px;
}
.user {
  width: 33%;
  text-align: right;
  padding-right: 35px;
}
.user > img {
  padding-left: 25px;
}
.navbar-brand:before {
  content: "SITE LOGO";
}
.header-main {
  height: 500px;
  padding-top: 29.5%;
}
.main-all {
  margin-top: -111px;
}
.row-header {
  color: white;
}
.header-head {
  padding-left: 23px;
}
.header-head:before {
  content: url("../images/liaf.png");
  padding-right: 48px;
}

.panel {
  margin-bottom: 10px;
}
a {
  color: black;
  text-decoration: none;
}
.panel-group {
  max-width: 765px;
}
.panel-title {
  height: 111px;
  line-height: 111px;
  background-color: white;
}
.panel-collapse {
  margin-top: -10px;
}
.panel-title > a {
  width: 653px;
}
.panel-title > a:before {
  content: url("../images/hat.png");
  padding-right: 48px;
}
.panel-title > .collapsed:after {
  content: url("../images/down.png");
  position: absolute;
  right: 40px;
}
.panel-title > a:after {
  content: url("../images/up.png");
  position: absolute;
  right: 40px;
}
.panel-title > a:hover {
  color: black;
  text-decoration: none;
}
.panel-title a {
  display: inherit;
  padding-left: 23px;
  position: relative;
}
.panel-body {
  padding-left: 104px;
  padding-right: 90px;
  background-color: white;
  padding-bottom: 50px;
  margin-bottom: 10px;
  min-height: 250px;
}
h3 {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
h3:before {
  content: url("../images/point.png");
  padding-right: 15px;
}
.course-list {
  padding-left: 30px;
}
.main-course {
  max-width: 242px;
  position: relative;
  background-color: white;
  margin-left: 10px;
  text-align: right;
  padding-top: 15px;
}
.course {
  min-width: 242px;
  margin-left: 0px;
}
.place {
  border-top: 1px solid rgba( 0, 0, 0, 0.18);
  padding-top: 10px;
}
.place:before {
  content: url("../images/place.png");
  padding-right: 10px;
}
.place-town {
  padding-bottom: 20px;
  padding-left: 24px;
}
.logo-block {
  background-color: white;
  width: 88px;
  height: 88px;
  text-align: center;
  position: absolute;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  left: 23px;
  top: -13px;
}
.main-course__img {
  text-align: center;
  padding-top: 15px;
}
.main-course__text {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
.main-course:before {
  content: url("../images/star.png");
  padding-right: 20px;

}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  min-height: 550px;
  justify-content: space-between;
  display: flex;
  margin-top: 50px;
}
.carousel-control-prev-icon {
  background-image: url("../images/left.png");
  background-size: inherit;
  background-color: white;
  width: 65px;
  height: 65px;
}
.carousel-control-next-icon {
  background-color: white;
  width: 65px;
  height: 65px;
  background-image: url("../images/right.png");
  background-size: inherit;
}
.carousel-control-prev {
  left: -100px;
}
.carousel-control-next {
  right: -100px;
}
.panel-group, .course {
  color: black
}
.mob-hidden {
  display: none;
}


@media (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
  .navbar-brand:before {
    content: "SL";
  }
  .navbar-brand {
    width: 60px;
  }
  .form-inline {
    width: 150px;
  }
  .navbar-search {
    width: 50%;
  }
  .user {
    width: 80px;
  }
  .user > img {
    width: 45%;
  }
  .header {
    background-image: url('../images/slide3.png');
    background-position-y: -50px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 842px;
  }
  .navbar {
    background-color: #1a5e74;

  }
  .user > img {
    padding-left: 0px;
  }
  .wrapper-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .header-head__block {
    order:2;
  }
  .row {
    order:1
  }
  .col-lg-3 {
    order:3;
  }
  .col-lg-9 {
    order: 5;

  }

  .main-course__block {
    order: 1;
  }
  .course {
    min-width: 320px;
    margin: 0 auto;
    margin-top: -650px;
    color: black;
  }
  .panel-title > .collapsed:after {
    content: "";
    position: absolute;
    right: 40px;
  }
  .panel-title > a:after {
    content: "";
    position: absolute;
    right: 40px;
  }
  .row_list {
    order:5;
  }
  .main-all {
    margin-top: -135px;
  }
  .mob-none {
    display: none;
  }
  .mob-hidden {
    display: block;
    text-align: left;
  }
  .main-course:before {
    content: "";
    width: 0;
  }
  .logo-block {
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top:0;
  }
  .main-course__img {
    text-align: center;
    padding-top: 0px;
  }
  .main-course {
    max-width: 242px;
    position: relative;
    background-color: white;
  }
  h4 {
    font-size: 1rem;
  }
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    min-height: 150px;
    justify-content: space-between;
    display: flex;
    margin-top: 0px;
  }
}
